<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="templates/style.css">

  <title>Pdf Merger Tool</title>
</head>

<body>
  <section>
    <header>
      <a href="#" class="logo">Pdf~Blend</a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>

    <div class="container">
      <h1>Pdf Blend</h1>
      <p>Merge your PDF's with more ease</p>

      <form method="post" action="/merge" enctype='multipart/form-data'>
        <div class="form-group">
          <label for="exampleFormControlFile1">Select the Pdf files you want to merge</label>
          <input type="file" name="pdfs" id="choosePdf" multiple accept=".pdf">
          <div class="submit">
            <input id="submit" type="submit" value="submit">
          </div>
        </div>
      </form>
    </div>
  </section>

</body>

</html>
